<section class="container" *ngIf="data">
    <div class="row heading">
      <h2>{{data.title}}</h2>
      <p>{{data.date}}</p>
      <p>{{data.copyright}}</p>
    </div>
  <div class="row photo">
      <div class="col-md-6 col-xs-12">
      <img [src]="data.url" alt="" id="image" class="space_image img-responsive">
      </div>
      <div class="col-md-6 col-xs-12 desc">
        <p class="explanation" [innerHTML]="data.explanation"></p>
        <button class="full-image"><a [href]="data.hdurl">View HD</a></button>
      </div>
    </div>
</section>
