<section class="container-fluid">
  <div class="row main" *ngIf="data">
    <div class="col-md-4 col-sm-12 col-xs-12 det">
      <div class="details">
        <h2>{{data.title}}</h2>
        <p>{{data.copyright}}</p>
        <span class="date" [innerHTML]="data.date"></span>
        <br> <br>
        <span class="explanation" [innerHTML]="data.explanation"></span>
        <br>
        <span class="full-image"><a [href]="data.hdurl">View HD</a></span>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12 image">
      <img [src]="data.url" alt="" class="space_image img-responsive">
    </div>
  </div>
</section>

