.heading {
  text-align: center;
  margin:1em;
  display: inline;
}

.photo {
  overflow-y: scroll;
  max-height: 600px;
  text-align: center;
}

.space_image {
  height:550px;
  margin: auto;
  width:550px;
  object-fit: cover;
}
.desc {
  background-color: #e6f0ff;
  padding: 0.5em;
  text-align: center;
}

.desc p {
  margin-left: 1em;
  text-align: left;
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: black;
}
.full-image {
  color:black;
  padding:0.5em;
  font-weight: bold;
  background: #f2f2f2;
  border:2px solid #f2f2f2;
}
@media only screen and (max-width: 1000px) {
  .photo {
  }
  .space_image {
    height:auto;
    max-width:100%;
  }
  .desc {
    font-size: 0.9em;
    text-align: center;
  }
}
