.main {
  height: 100vh;
}
.date{
  font-size:1.2em;
}

.explanation {
  font-size: 1.1em;
}

.det {
  overflow-y: scroll;
  margin-top: 3em;
}

.details {
  text-align: center;
  margin-bottom: 0;
}


.image {
  margin:0;
  padding:0;
}
.space_image {
  margin:0;
  padding:0;
  height:100%;
  max-width: 100%;
}

@media only screen and (max-width: 1000px) {
  .space_image {
    height:auto;
    padding:0;
    margin: 0;
    max-width:100%;
  }
}
