/* You can add global styles to this file, and also import other style files */

@import "./fonts/style.css";

body {
  overflow-x: hidden;
  font-family: 'garamond i';
  background: linear-gradient(to right,  #ccffff
 ,   #00cccc);
}
